div{
	top: 0px;
}
#logo{
	position: absolute;
	left: 0px;
}
.drop{
	color: white;
	text-align: center;
	display: block;
	margin-top: 10px;
}
.blah{
	position: absolute;
	width: 10%;
	height: 50px;
	display: inline-block;
	background-color: green;
}
div#a{
	left: 20%;
}
div#b{
	left: 30%;
}
div#c{
	left: 40%;
}
div#d{
	left: 50%;
}
div#e{
	left: 60%;
}
div#f{
	left: 70%;
}
div#g{
	left: 80%;
}
div#h{
	left: 90%;
}
div#i{
	left: 10%;
}
#home{
	position: absolute;
	top: 125px;
	left: 35%;
	width: 30%;
}
#andrew{
	position: absolute;
	top: 50px;
	left: 15%;
}
#ben{
	position: absolute;
	top: 50px;
	left: 15%;
}
#daniel{
	position: absolute;
	top: 50px;
	left: 15%;
}
#jamin{
	position: absolute;
	top: 50px;
	left: 15%;
}
#kyle{
	position: absolute;
	top: 50px;
	left: 5%;
	width: 90%;
}
#me{
	position: absolute;
	top: 50px;
	left: 15%;
}
#thomas{
	position: absolute;
	top: 50px;
	left: 15%;
}
#zaha{
	position: absolute;
	top: 50px;
	left: 5%;
	width: 90%
}
#header{
	color: black;
	position: absolute;
	top: 50px;
	left: 35%;
}
#bio{
	color: black;
	position: absolute;
	top: 450px;
	left: 35%;
	width: 30%;
	font-size: 21px;
}